* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: linear-gradient(#00416A, #E4E5E6)
}

h1,
p,
button,
select {
    font-family: 'Times New Roman', Times, serif;
}

h1,
p {
    color: white;
}

h1 {
    text-align: center;
    text-shadow: 2px 5px 24px #E4E5E6;
    padding: 50px 0px;
}

p {
    padding-bottom: 12px;
}

.reset-label {
    color: #00416A;
}

.big-container,
.select-container,
.container,
.grid-container {
    display: flex;
}

.big-container {
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
}

.change-btn,
.reset-btn {
    width: 20em;
    text-align: start;
    border: none;
    box-shadow: 0 0 1em 0 rgba(11, 8, 58, 0.323);
    padding: 10px 20px;
}

.select-container,
.container {
    justify-content: center;
}

button, select {
    border-radius: 5px;
}

.change-btn:hover {
    box-shadow: 0 5px 15px #afe0f5;
}

.reset-btn:hover {
    box-shadow: 0 5px 15px #00416A;
}

.select-container {
    flex-direction: column;
}

select {
    border: 0;
    width: 20em;
    height: 3em;
    padding: 0 5px 0 15px;
    background: white;
    color: black;
    box-shadow: 0 0 1em 0 rgba(11, 8, 58, 0.323);
}

.container {
    padding: 50px;
}

.grid-container {
    flex-wrap: wrap;
    width: 800px;
    height: auto;
    box-shadow: 10px 10px 10px #00416A;;
}

.grid-element {
    background-color: white;
    transition: background-color 0.3s;
}

.grid-element.hover {
    background-color: #36454F;
}